{% if service_cfg.cockpit.enabled == true %}
http:
  routers:
    cockpit:
      rule: 'Host(`{{ service_cfg.cockpit.domain }}`)'
      service: cockpit
      EntryPoints: web-secure
      middlewares:
        - default-headers
      tls:
        certresolver: default

  services:
    cockpit:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:9090"
        passHostHeader: true
{% endif %}
