services:
  traefik:
    image: "traefik:{{ service_cfg.version }}"
    container_name: "{{ service_cfg.name }}"
    restart: always
    healthcheck:
      test: "traefik healthcheck"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    environment:
      PUID: "{{ PUID }}"
      PGID: "{{ PGID }}"
      TZ: "{{ timezone }}"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:rw"
      - "{{ service_cfg.directory }}/traefik.yml:/etc/traefik/traefik.yml:ro"
      - "{{ service_cfg.directory }}/dynamic:/etc/traefik/dynamic"
      - "{{ service_cfg.directory }}/acme.json:/etc/traefik/acme/acme.json:rw"
    labels:
      << : *base_labels
      traefik.http.middlewares.{{ service_cfg.name }}_web-auth.basicauth.users: "{{ service_cfg.http_basic_users }}"
{#      traefik.http.middlewares.{{ service_cfg.name }}_stripprefix.stripprefix.prefixes: {{ service_cfg.url_path_prefix }}#}
{#      traefik.http.routers.{{ service_cfg.name }}_web.middlewares: "{{ service_cfg.name }}_web-auth,{{ service_cfg.name }}_stripprefix"#}
      traefik.http.routers.{{ service_cfg.name }}_web.middlewares: "{{ service_cfg.name }}_web-auth"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    network_mode: host