version: "3.8"

services:
  traefik:
    image: "traefik"
    container_name: {{ service_cfg.name }}
    restart: always
    healthcheck:
      test: "traefik healthcheck"
    ports:
      - "80:80"
      - "443:443"
    environment:
      PUID: "{{ PUID }}"
      PGID: "{{ PGID }}"
      TZ: "{{ timezone }}"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:rw"
      - "{{ service_cfg.directory }}/traefik.yml:/etc/traefik/traefik.yml:ro"
      - "{{ service_cfg.directory }}/dynamic:/etc/traefik/dynamic"
      - "{{ service_cfg.directory }}/acme.json:/etc/traefik/acme/acme.json:rw"
    labels:
      << : *base_labels
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  traefik_net:
    external:
      name: traefik_default