api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":80"
    forwardedHeaders:
      insecure: true
  web-secure:
    address: ":443"
    forwardedHeaders:
      insecure: true

providers:
  docker:
    watch: true
    exposedByDefault: false
    allowEmptyServices: true
  file:
    directory: /etc/traefik/dynamic
    watch: true

certificatesResolvers:
  default:
    acme:
      email: {{ admin.email }}
      storage: /etc/traefik/acme/acme.json
      httpChallenge:
        entryPoint: web

accessLog: {}
ping: {}

log:
  level: INFO